<div class="row">
    {{#each products}}
{{#each this}}
      <div class="col-md-4">
    <div class="card">
        
        <img src="{{ imagePath }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-text">{{this.description}}</p>
        
        <a href="#" class="btn btn-primary">Buy</a>
      </div>
    </div>
  </div>
{{/each}}
    {{/each}}
</div>
